@media(max-width:768px ){
    .navbar{
        height: 110px !important;
        /* padding: 20px;  */
        padding-bottom: 10px;
    }
    
    .navbar .flex{
        flex-direction: column !important;
    }
    .navbar h1{
        padding: 5px 0;
        margin: 0;
    }
    .navbar li{
        /* padding: 20px; */
        background-color: rgba(0,0,0,0.2);
        /* margin: 10px 0; */
    }
    .navbar a{
        /* padding: 20px; */
        display: inline-block;
        /* margin: 5px 0; */
        
    }
    
    

    .home .container{
        padding: 0 20px;
        padding-top:100px ;
    }
    .home{
        height: 300px ;
    }
    .about{
        padding: 10px 30px !important;
    }
    .about .btn{
        margin-bottom: 20px;
    }

    .portfolio .container{
        width: 400px !important;
    }
    
    .portfolio .grid{
        grid-template-columns: 1fr !important;
    }


}